- for loop
- while loop

# FOR LOOPS IN PYTHON

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for cadbury in mylist:
    print(num)
# it will give output as '10' 10 times 'cause num was set as 10 in previous loop
# if wasnt then it would have shown error as num is not defined

10
10
10
10
10
10
10
10
10
10

In [4]:
# for num in mylist:
#     print(num2)
# error cause here num2 is not defined

In [5]:
for sd in mylist:
    print(num)

10
10
10
10
10
10
10
10
10
10

In [6]:
for num in mylist:
    print(cadbury)

10
10
10
10
10
10
10
10
10
10

In [7]:
for cadbury in mylist:
    print(num)

10
10
10
10
10
10
10
10
10
10

In [8]:
mylist2 = [1,2,3,4,5,6,7,8,9,10,'string']

for item in mylist2:
    print(item)

1
2
3
4
5
6
7
8
9
10
string

In [9]:
mylist2 = [1,2,3,4,5,6,7,8,9,10,'string']

for detective in mylist2:
    print("The Consultive Detective")

The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective
The Consultive Detective

In [10]:
mylist2 = [1,2,3,4,5,6,7,8,9,10]
    #check for even
for num in mylist2:
    if num%2 ==0 :
        print(num)

2
4
6
8
10

In [11]:
# mylist2 = [1,2,3,4,5,6,7,8,9,10,'string']
#     #check for even
# for num in mylist2:
#     if num%2 ==0 :
#         print(num)
        
# # this code will WORK BUT show type error at last
# #TypeError: not all arguments converted during string formatting
# # SINCE THERE IS A STRING IN THE LIST

In [12]:
mylist2 = [1,2,3,4,5,6,7,8,9,10]
    #check for even
for num in mylist2:
    if num%2 ==0 :
        print(num)
    else :
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [13]:
mylist2 = [1,2,3,4,5,6,7,8,9,10]
    #check for even
for num in mylist2:
    if num%2 ==0 :
        print(f"{num} is even number")
    else :
        print(f'odd number: {num}')

odd number: 1
2 is even number
odd number: 3
4 is even number
odd number: 5
6 is even number
odd number: 7
8 is even number
odd number: 9
10 is even number

In [14]:
mylist2 = [1,2,3,4,5,6,7,8,9,10]
#check for even and odd
for num in mylist2:
    if num%2 ==0 :
        print(f"even number: {num}")
    else :
        print(f'odd number:  {num}')

odd number:  1
even number: 2
odd number:  3
even number: 4
odd number:  5
even number: 6
odd number:  7
even number: 8
odd number:  9
even number: 10

In [15]:
country="Japan\n"
# in loop a is character  
for a in country:        
    print(a)
b="4,434,3;4,4\n\n\n\n"
for item in b:
    print(item)

J
a
p
a
n


4
,
4
3
4
,
3
;
4
,
4

In [16]:
# a1= 1
# b1= 0
# s=0
# while (9):
#     s=s+1
#     print(s)

# the infinite no. will be printed

In [17]:
list2 = [1,2,7,4,5,6,7,8,9,10]
s=1
for i in list2:    
    print(i)

1
2
7
4
5
6
7
8
9
10

In [18]:
list2 = [1,2,3,4,5,6,7,8,9,10]
s=0
for i in list2:
    s = s + i
    print(s)

1
3
6
10
15
21
28
36
45
55

In [19]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)
    
    
print('LIST:', mylist)
print(list_sum)

1
3
6
10
15
21
28
36
45
55
LIST: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
    list_sum += num
    
    print(list_sum)
    
    
print(mylist)

print(list_sum)

1
3
6
10
15
21
28
36
45
55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [21]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(mylist)

print(list_sum) ##### THE INDENTATION POWER

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [22]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
    print(mylist)

print(list_sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [23]:
mystring="New York City"
for letter in mystring:
    print(letter)

N
e
w

Y
o
r
k

C
i
t
y

In [24]:
for letter in "New York City": #No need to assign variable for string 
    print(letter)

N
e
w

Y
o
r
k

C
i
t
y

In [25]:
for dfdr in "New York City":
    print(dfdr)

N
e
w

Y
o
r
k

C
i
t
y

In [26]:
for dfdr in "New York City":
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [27]:
for _ in "New York":
    print(_)

N
e
w

Y
o
r
k

In [28]:
for _ in "New York":
    print('Only underscore is allowed')

Only underscore is allowed
Only underscore is allowed
Only underscore is allowed
Only underscore is allowed
Only underscore is allowed
Only underscore is allowed
Only underscore is allowed
Only underscore is allowed

In [29]:
list_of_words = ["Sherlock", "Ravi", "Mumbai", "Las Vegas"]

for word in list_of_words:
    print(word)

Sherlock
Ravi
Mumbai
Las Vegas

In [30]:
list_of_words = ["Sherlock", "Ravi", "Mumbai", "Las Vegas"]

for word in list_of_words:
    for letter in word:
        print(letter)

S
h
e
r
l
o
c
k
R
a
v
i
M
u
m
b
a
i
L
a
s

V
e
g
a
s

In [31]:
# zip() is a built-in Python function that takes iterables (such as lists, tuples, etc.) 
# as arguments and returns an iterator that produces tuples by aggregating elements 
# from each iterable passed into it. It stops when the shortest input iterable is exhausted.

# simple example
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)

for item in zipped:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [32]:
word = "Steve"
print(f"word: {word}")
print(f"word[1:]: {word[1:]}")

word: Steve
word[1:]: teve

In [33]:
# print first two letter of same word iteratively
for character1, character2 in zip(word, word[1:]) :
        print(character1, character2)

S t
t e
e v
v e

In [34]:
# print first three letter of same word  iteratively
for character1, character2, character3 in zip(word, word[1:], word[2:]) :
        print(character1, character2, character3)

S t e
t e v
e v e

In [35]:
list_of_words = ["Sherlock", "Ravi", "Mumbai", "Las Vegas"]

for word in list_of_words[:1]:
    for character1, character2 in zip(word, word[1:]) :
        print(character1, character2)

S h
h e
e r
r l
l o
o c
c k

In [36]:
list_of_words = ["Sherlock", "Ravi", "Mumbai", "Las Vegas"]

for word in list_of_words:
    for character1, character2 in zip(word, word[1:]) :
        print(character1, character2)

S h
h e
e r
r l
l o
o c
c k
R a
a v
v i
M u
u m
m b
b a
a i
L a
a s
s
  V
V e
e g
g a
a s

In [37]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [38]:
#Tuple have special quality in 'for loop'
## TUPLE UNPACKING

In [39]:
mylist=[(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [40]:
for item  in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
for (a,b)  in mylist:
    print((a,b))

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [42]:
for a,b  in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [43]:
print(mylist)

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [44]:
for a,b  in mylist:
    print(a)
    print(b)
    
### THIS IS KNOW AS TUPLE UNPACKING
### WHERE WE CAN DUBLICATE THE STRUCTURE OF THE ITEM
### (IN THIS CASE TUPLES INSIDE OF THE SEQUENCE AND "UNPACKED" THEM)
### NOW WE HAVE ACCES TO INDIVIDUAL ITEMS

1
2
3
4
5
6
7
8

In [45]:
for a,b in mylist:
    print(a)
    print(a)
    print(b)

1
1
2
3
3
4
5
5
6
7
7
8

In [46]:
for (a,b)  in mylist:
    print(b)
    
### THERE IS NO NEED OF PARENTHESIS IN THE FIRST LINE 
### WE CAN SIMPLY JUST WRITE ---> a,b

2
4
6
8

In [47]:
for a,b  in mylist:
    print(a)

1
3
5
7

In [48]:
mylist=[(1,2,3),(5,6,7),(8,9,10),(11,12,13)]

In [49]:
for item in mylist:
    print(item)       # print tuple

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)
(11, 12, 13)

In [50]:
for a,b,c in mylist:
    print(a, b, c)     # print items of tuple

1 2 3
5 6 7
8 9 10
11 12 13

In [51]:
for a,b,c in mylist:
    print(b)

2
6
9
12

In [52]:
for a,b,c in mylist:
    print(a)

1
5
8
11

In [53]:
# list comprehension 

# List comprehension is a concise and efficient way of creating lists in Python.
# It allows you to define a list based on an expression, along with an optional filtering condition, 
# all within a single line of code.

[i for i in range(5)]

[0, 1, 2, 3, 4]

In [54]:
l2 = [i for i in range(10) if i%2 == 0]
print(l2)

[0, 2, 4, 6, 8]

In [55]:
[i for i in range(0,10,2)]

[0, 2, 4, 6, 8]

In [56]:
for i in range(10, 20, 2):
    print(i, end=' ')

10 12 14 16 18

In [57]:
(i for i in range(10))

In [58]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### for loop ---> dictionary

In [59]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}
print(d, '\n')
for i in d:
    print(i)
    
# by default it only iterate through the 'keys'

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

k1
k2
k3
k4
k5

In [60]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

# therefore use d.items() instead of d if you want values as well
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)
('k4', 4)
('k5', 5)

In [61]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for i in d.keys():
    print(i)

k1
k2
k3
k4
k5

In [62]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for key, value in d.items():
    print(key,value)

k1 1
k2 2
k3 3
k4 4
k5 5

In [63]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for key,value in d.items():
    print((key,value))

('k1', 1)
('k2', 2)
('k3', 3)
('k4', 4)
('k5', 5)

In [64]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for ((((key,value)))) in d.items():
    print(key)

k1
k2
k3
k4
k5

In [65]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for ((((key,value)))) in d.items():
    print(((key)))

k1
k2
k3
k4
k5

In [66]:
d={'k1':1,'k2':2,'k3':3,'k4':4,"k5":5}

for key,value in d.items():
    print((((value))))
    
## Technically Dictionaries are unordered 
## it will NOT be sorted everytime

1
2
3
4
5

# WHILE LOOPS IN PYTHON

In [67]:
# SYNTAX:-
# while some_boolean_condition:
#     do something

In [68]:
# # SYNTAX:-
# # while some_boolean_condition:
# #     do something
# # else:
# #    do_something_differnt

In [69]:
x=0
while x<5:
    print(f"The current value of x is {x} ")
    x=x+1 # x+=1 same

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [70]:
x=0
while x<5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
x+=1    
print(x)
#output will be 6 'cause x becomes 5 in while loop and 1 gets add in(x+=1)

The current value of value of x is 0
The current value of value of x is 1
The current value of value of x is 2
The current value of value of x is 3
The current value of value of x is 4
6

In [71]:
x=0
while x<5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
    
print(x)

The current value of value of x is 0
The current value of value of x is 1
The current value of value of x is 2
The current value of value of x is 3
The current value of value of x is 4
5

In [72]:
x=0
while x<5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
    x+=1

The current value of value of x is 0
The current value of value of x is 2
The current value of value of x is 4

In [73]:
x=0
while (x<5):
    print(f"The current value of value of x is {x} ")
    x=x+2
print(x)

The current value of value of x is 0
The current value of value of x is 2
The current value of value of x is 4
6

In [74]:
x=0
while x<5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
else:
    print("x is not less than 5")

The current value of value of x is 0
The current value of value of x is 1
The current value of value of x is 2
The current value of value of x is 3
The current value of value of x is 4
x is not less than 5

In [75]:
x=0
while x>5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
else:
    print("x is not less than 5")

x is not less than 5

In [76]:
x=0
while x>5:
    print(f"The current value of value of x is {x} ")
    x=x+1 # x+=1 same 
else:
    print(f"{x} is not less than 5")

0 is not less than 5

In [77]:
x=10
while x>5:
    print(f"The current value of value of x is {x} ")
    x=x-1 # x-=1 same 
else:
    print(f"{x} is less than 5")

The current value of value of x is 10
The current value of value of x is 9
The current value of value of x is 8
The current value of value of x is 7
The current value of value of x is 6
5 is less than 5

In [78]:
x=10
while x>=5:
    print(f"The current value of value of x is {x} ")
    x=x-1 # x-=1 same 
else:
    print(f"{x} is less than 5")

The current value of value of x is 10
The current value of value of x is 9
The current value of value of x is 8
The current value of value of x is 7
The current value of value of x is 6
The current value of value of x is 5
4 is less than 5

In [79]:
x=0
while x>=5:
    print(f"The current value of value of x is {x} ")
    x-=1 
else:
    print(f"{x} is less than 5")

0 is less than 5

In [80]:
x=0
while x>=5:
    print(f"The current value of value of x is {x} ")
    x-=2
else:
    print(f"{x} is less than 5")

0 is less than 5

In [81]:
x=10
while x>=5:
    print(f"The current value of value of x is {x} ")
    x-=2
else:
    print(f"{x} is less than 5")

The current value of value of x is 10
The current value of value of x is 8
The current value of value of x is 6
4 is less than 5

In [82]:
x=10
while x>=5:
    x-=2
    print(f"The current value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 8
The current value of value of x is 6
The current value of value of x is 4
4 is less than 5

In [83]:
x=10
while x>5:
    x-=2
    print(f"The current value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 8
The current value of value of x is 6
The current value of value of x is 4
4 is less than 5

In [84]:
x=10
while x>=5:
    x-=1
    print(f"The current value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The current value of value of x is 8
The current value of value of x is 7
The current value of value of x is 6
The current value of value of x is 5
The current value of value of x is 4
4 is less than 5

In [85]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The current value of value of x is 8
The current value of value of x is 7
The current value of value of x is 6
The current value of value of x is 5
5 is less than 5

In [86]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=1
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The current value of value of x is 7
The current value of value of x is 5
4 is less than 5

In [87]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=2
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The current value of value of x is 6
4 is less than 5

In [88]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=1
    print(f"The next value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The next value of value of x is 8
The current value of value of x is 7
The next value of value of x is 6
The current value of value of x is 5
The next value of value of x is 4
4 is less than 5

In [89]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=2
    print(f"The next value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The next value of value of x is 7
The current value of value of x is 6
The next value of value of x is 4
4 is less than 5

In [90]:
x=20
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=2
    print(f"The next value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 19
The next value of value of x is 17
The current value of value of x is 16
The next value of value of x is 14
The current value of value of x is 13
The next value of value of x is 11
The current value of value of x is 10
The next value of value of x is 8
The current value of value of x is 7
The next value of value of x is 5
5 is less than 5

In [91]:
x=10
while x>5:
    x-=1
    print(f"The current value of value of x is {x} ")
    x-=1
    print(f"The current value of value of x is {x} ")
else:
    print(f"{x} is less than 5")

The current value of value of x is 9
The current value of value of x is 8
The current value of value of x is 7
The current value of value of x is 6
The current value of value of x is 5
The current value of value of x is 4
4 is less than 5

## break, continue, pass
### we can use  these keywords to add additional functionality

## break : break out of the current  closest enclosing loop
## continue : goes to top of the closet enclosing loop 
## pass : does nothing at all (e.g. 1 use :- to avoid syntax error)

# current  closest enclosing LOOP and not STATEMENT

In [92]:
x = [1,2,3]

for i in x:
    #comment := used pass keyword to avoid syntax error
    pass

In [93]:
x = [1,2,3]

for i in x:
    #comment := used pass keyword to avoid syntax error
    pass
print("end of my script")

end of my script

In [94]:
x = "Sammy"

In [95]:
for letter in x:
    print(letter)

S
a
m
m
y

In [96]:
for letter in x:
    if letter =="a":
        continue
    print(letter)

S
m
m
y

In [97]:
for letter in x:
    if letter =="a":
        continue
print(letter)# last item in the string

y

In [98]:
for letter in x:
    if letter =="mm":
        continue
    print(letter)

S
a
m
m
y

In [99]:
for letter in x:
    if letter =="a":
        break
    print(letter)

S

In [100]:
for letter in x:
    if letter =="m":
        break
    print(letter)

S
a

In [101]:
for letter in x:
    if letter =="mm":
        break
    print(letter)

S
a
m
m
y

In [102]:
for letter in x:
    if letter =="gfgd":
        break
    print(letter)

S
a
m
m
y

In [103]:
for letter in x:
    if letter =="y":
        break
    print(letter)

S
a
m
m

In [104]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [105]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

# Thank You