# List Comprehension

In [1]:
mystring = "Namaste"
mylist = []

In [2]:
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['N', 'a', 'm', 'a', 's', 't', 'e']

In [4]:
for letter in mystring:
    letter

In [5]:
letter

'e'

In [6]:
for letter in mystring:
    mystring

In [7]:
mystring

'Namaste'

In [8]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
    print(mylist)

['N']
['N', 'a']
['N', 'a', 'm']
['N', 'a', 'm', 'a']
['N', 'a', 'm', 'a', 's']
['N', 'a', 'm', 'a', 's', 't']
['N', 'a', 'm', 'a', 's', 't', 'e']

In [9]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
print(mylist)

['N', 'a', 'm', 'a', 's', 't', 'e']

In [10]:
# list comphrension
mylist=[letter for letter in mystring]
mylist

['N', 'a', 'm', 'a', 's', 't', 'e']

In [11]:
mstring="Sherlock Holmes"

mlist=[letter for letter in mstring]
print(mlist)

['S', 'h', 'e', 'r', 'l', 'o', 'c', 'k', ' ', 'H', 'o', 'l', 'm', 'e', 's']

In [12]:
mstring="5346 5    646"
mlist=[letter for letter in mstring]
print(mlist)

['5', '3', '4', '6', ' ', '5', ' ', ' ', ' ', ' ', '6', '4', '6']

In [13]:
x=[s for s in "Siddharth"]
print(x)

['S', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

In [14]:
x

['S', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

In [15]:
mylist = [n for n in range      (0,10)]

In [16]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
mylist = [n**2 for n in range(0,11)]

In [18]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mylist = [x for x in range(0,11) if x%2]
print(mylist)

[1, 3, 5, 7, 9]

In [20]:
mylist = [x for x in range(0,11) if x%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [21]:
mylist = [x**2 for x in range(0,11) if x%2]
print(mylist)

[1, 9, 25, 49, 81]

In [22]:
mylist = [x**2 for x in range(0,11) if x%2==0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [23]:
mylist = [x+100 for x in range(0,11)]
print(mylist)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [24]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32 ) for temp in celcius]

print(celcius)
print(fahrenheit)

[0, 10, 20, 34.5]
[32.0, 50.0, 68.0, 94.1]

In [25]:
Celcius = [0,273,100,35]

Kelvin = [( 273.15+temp ) for temp in Celcius]

print(Celcius)
print(Kelvin)

[0, 273, 100, 35]
[273.15, 546.15, 373.15, 308.15]

In [26]:
fahrenheit=[]

for temp in celcius:
    fahrenheit.append(celcius)

In [27]:
print(fahrenheit)

[[0, 10, 20, 34.5], [0, 10, 20, 34.5], [0, 10, 20, 34.5], [0, 10, 20, 34.5]]

In [28]:
fahrenheit=[]

for temp in celcius:
    fahrenheit.append(( (9/5)*temp +32 ) )

In [29]:
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [30]:
MYLIST = [x for x in range(0,11) if x%2==0]
# if statement

In [31]:
MYLIST

[0, 2, 4, 6, 8, 10]

In [32]:
# if-else statement

results = [x if x%2==0 else "Odd no." for x in range(0,11)] 

print(results)

[0, 'Odd no.', 2, 'Odd no.', 4, 'Odd no.', 6, 'Odd no.', 8, 'Odd no.', 10]

In [33]:
# if-else statement

results = [x if x%2==0 else "X" for x in range(0,11)] 

print(results)

[0, 'X', 2, 'X', 4, 'X', 6, 'X', 8, 'X', 10]

# Thank You