In [1]:
#  OM NAMAH SHIVAY

In [2]:
# PYTHON BOOTCAMP
# BY JOSE PORTILLA (PIERIAN DATA)
## DATE:- 22nd JAN 2022

## LET'S BEGIN THE ULTIMATE JOURNEY


# 05_Folder Python Statements

In [3]:
# 037 USEFUL OPERATORS IN PYTHON

# 037 USEFUL OPERATORS IN PYTHON
# 23 JAN 2022

In [22]:
# Range function

In [23]:
mylist=[1,2,3]

In [24]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [26]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [27]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [28]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [30]:
for num in range(9,91,9):
    print(num)

9
18
27
36
45
54
63
72
81
90

In [32]:
range(9,91,9) # range is a generator

range(9, 91, 9)

In [33]:
list(range(9,91,9))

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [35]:
list(range(11,111,11)) #table of 11

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

In [39]:
list(range(9,19))

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [41]:
list(range(9,36))

[9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35]

In [98]:
tuple(range(9,27))

(9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26)

In [43]:
index_count=0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [1]:
index_count=0

for letter in "abcde":
    print(letter)
    index_count +=1

a
b
c
d
e

In [45]:
#Enemurate function 
# replicate

In [49]:
index_count=0
word = "abcde"
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [ ]:
index_count=0
word = "abcde"
for letter in word:
    print(word[index_count])
    index_count += 1

In [51]:
index_count=0
word = "abcde"
for item in enumerate(word):
    print(item)
    index_count += 1

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [65]:
q = "abcde"
for index,letter in enumerate(q):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [66]:
word = "abcde"
for index,letter in enumerate(word):
    print(index)
print(index)

0
1
2
3
4
4

In [56]:
word = "abcde"
for index,letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [58]:
word = "abcde"
for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [63]:
word = "abcde"
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [68]:

# zip function (Opposite to enumerate function)

In [95]:
list1=[1,2,3,4,5]
list2=['a','b','c','d','e']

In [72]:
zip(list1,list2)

In [74]:
for item in zip(list1,list2):
    print(zip(list1,list2))

<zip object at 0x04043528>
<zip object at 0x04043528>
<zip object at 0x04043528>
<zip object at 0x04043528>
<zip object at 0x04043528>

In [75]:
for item in zip(list1,list2):
    print(zip(item))

<zip object at 0x06585C08>
<zip object at 0x06585C08>
<zip object at 0x06585C08>
<zip object at 0x06585C08>
<zip object at 0x06585C08>

In [91]:
for item in zip(list1,list2):
    print(item)# we will get tuples

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [80]:
list1=[1,2,3,54,5,6,8,9,88]
list2=['a','b','c','d','e']

In [81]:
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(54, 'd')
(5, 'e')

In [83]:
list1=[1,2,3]
list2=['a','b','c','d','e']
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [84]:
list1=[1,2,3]
list2=['a','b','c','d','e']
list3=[100,200,300,400]
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [99]:
list1=[1,2,3]
list2=['a','b','c','d','e']
list3=[100,200,300,400]
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [6]:
list1=[1,2,3]
list2=['a','b','c','d','e']
list3=[100,200,300,400]
for item in zip(list1,list2,list3):
    print(item)
print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(3, 'c', 300)

In [7]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [8]:
for item in zip(mylist1,list2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [9]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [108]:
tuple(zip(mylist1,mylist2))

((1, 'a'), (2, 'b'), (3, 'c'))

In [112]:
# list(zip(mylist1,mylist2)) 
# this code will work but it's not

In [115]:
for a,b,c in zip(mylist1,list2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [116]:
for a,b,c in zip(mylist1,list2,mylist3):
    print(a,c)

1 100
2 200
3 300

In [119]:
for a,b,c in zip(mylist1,list2,mylist3):
    print(c)

100
200
300

In [124]:
"x" in [1.3,3,4,5]

False

In [125]:
"x" in [1.3,3,4,5,]

False

In [126]:
"x" in [1.3,3,4,'x']

True

In [129]:
"x" in ['sf','f','x']

True

In [130]:
"x" in "sdfsxz"

True

In [133]:
'k' in'hkjhk fvjhk b '

'a' in "siddharth"

True

In [17]:
print('mykey' in {'mykey': 234})

print(234 in {"mykey":234})#default works for keys in dictionaries



d={'mykey': 534}
print(534 in d.values())

True
False
True

In [18]:
d={'mykey':      534}

534 in d.keys()

False

In [24]:
d={'mykey': 534, 'mykey2': 3}
print(max(d))
print(min(d))

mykey2
mykey

In [142]:
mylist= [10,20,30,40,50,60,100]

min(mylist)

10

In [143]:
max(mylist)

100

In [144]:
from random import shuffle

In [150]:
mylist =  [1,2,3,4,5,6,7,8,9,10]

In [151]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [154]:
shuffle(mylist)

In [155]:
mylist

[10, 1, 7, 5, 3, 8, 6, 9, 2, 4]

In [148]:
random_list = shuffle(mylist)

In [161]:
random_list # this is not going to work because its random

In [157]:
type(random_list)

NoneType

In [27]:
from random import randint

In [162]:
randint(1,100) # will display any no. from 1 to 100

44

In [163]:
randint(1,100)

6

In [168]:
randint(34,34)

34

In [170]:
randint(-2,4)

1

In [172]:
randint(-100,0)

-42

In [173]:
randint(0,10000000000000000000000000000000000000)

9057927047657078684753519032066374121

In [174]:
randint(100000000000000,1000000000000000000000000000000000)

178544467938230978848976005238288

In [28]:
randint(9999999999999999999999999999,999999999999999999999999999999999999999999999999999999999999999)

611061419830434185410316589229487688468735035597841031516364228

In [29]:
type(randint)

method

In [178]:
mynum= randint(0,10)

In [179]:
mynum

6

In [180]:
mynum

6

In [181]:
mynum+4

10

In [182]:
addition1=mynum*10

In [183]:
addition1

60

In [188]:
result = input("Who are you?")

Who are you?Sherlock

In [190]:
result1 = input("WHO?")

WHO?221

In [191]:
result

'Sherlock'

In [192]:
result1

'221'

In [193]:
type(result)

str

In [194]:
type(result1)

str

In [199]:
float(result1) # float(result) this wont work cause its string

221.0

In [200]:
int(result1)

221

In [207]:
fav = int(input("Fav no. :"))

Fav no. :9

In [209]:
fav = float(input("Fav no. :"))

Fav no. :9.0000

# 038 LIST COMPREHENSIONS IN PYTHON

In [30]:
mystring="Namaste"

In [31]:
mylist=[]

In [213]:
for letter in mystring:
    mylist.append(letter)

In [32]:
for letter in mystring:
    mylist.append(letter)

In [214]:
mylist

['N', 'a', 'm', 'a', 's', 't', 'e']

In [33]:
for letter in mystring:
    letter

In [34]:
letter

'e'

In [35]:
for letter in mystring:
    mystring

In [36]:
mystring

'Namaste'

In [215]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
    print(mylist)

['N']
['N', 'a']
['N', 'a', 'm']
['N', 'a', 'm', 'a']
['N', 'a', 'm', 'a', 's']
['N', 'a', 'm', 'a', 's', 't']
['N', 'a', 'm', 'a', 's', 't', 'e']

In [218]:
mylist=[]
for letter in mystring:
    mylist.append(letter)
print(mylist)

['N', 'a', 'm', 'a', 's', 't', 'e']

In [219]:
mylist=[letter for letter in mystring]

In [220]:
mylist

['N', 'a', 'm', 'a', 's', 't', 'e']

In [221]:
mstring="Sherlock Holmes"

mlist=[letter for letter in mstring]
print(mlist)

In [226]:
mstring="5346 5    646"
mlist=[letter for letter in mstring]
print(mlist)

['5', '3', '4', '6', ' ', '5', ' ', ' ', ' ', ' ', '6', '4', '6']

In [38]:
x=[s for s in "Siddharth"]
print(x)

['S', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

In [228]:
x

['S', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

In [234]:
mylist = [n for n in range      (0,10)]

In [235]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [236]:
mylist = [n**2 for n in range(0,11)]

In [237]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
mylist = [x for x in range(0,11) if x%2]
print(mylist)

[1, 3, 5, 7, 9]

In [241]:
mylist = [x for x in range(0,11) if x%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [242]:
mylist = [x**2 for x in range(0,11) if x%2]
print(mylist)

[1, 9, 25, 49, 81]

In [243]:
mylist = [x**2 for x in range(0,11) if x%2==0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [246]:
mylist = [x+100 for x in range(0,11)]
print(mylist)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [245]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32 ) for temp in celcius]

print(celcius)
print(fahrenheit)

[0, 10, 20, 34.5]
[32.0, 50.0, 68.0, 94.1]

In [41]:
Celcius = [0,273,100,35]

Kelvin = [( 273.15+temp ) for temp in Celcius]

print(Celcius)
print(Kelvin)

[0, 273, 100, 35]
[273.15, 546.15, 373.15, 308.15]

In [252]:
fahrenheit=[]

for temp in celcius:
    fahrenheit.append(celcius)

In [253]:
print(fahrenheit)

[[0, 10, 20, 34.5], [0, 10, 20, 34.5], [0, 10, 20, 34.5], [0, 10, 20, 34.5]]

In [254]:
fahrenheit=[]

for temp in celcius:
    fahrenheit.append(( (9/5)*temp +32 ) )

In [255]:
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [49]:
MYLIST = [x for x in range(0,11) if x%2==0]
# if statement

In [47]:
MYLIST

[0, 2, 4, 6, 8, 10]

In [48]:
# if-else statement

results = [x if x%2==0 else "Odd no." for x in range(0,11)] 

print(results)

[0, 'Odd no.', 2, 'Odd no.', 4, 'Odd no.', 6, 'Odd no.', 8, 'Odd no.', 10]

In [50]:
# if-else statement

results = [x if x%2==0 else 99 for x in range(0,11)] 

print(results)

[0, 99, 2, 99, 4, 99, 6, 99, 8, 99, 10]

In [269]:
nestedloop = []

for x in [2,1,6]:
    for y in [1,10,100000]:
        nestedloop.append(x*y)
        
print(nestedloop)

[2, 20, 200000, 1, 10, 100000, 6, 60, 600000]

In [271]:
nestedloop = [x*y for x in [2,1,6] for y in [1,10,100000]]
print(nestedloop)

[2, 20, 200000, 1, 10, 100000, 6, 60, 600000]

# NEXT FILE PyJUPYTER6th